{{!-- style --}}
<link rel="stylesheet" href="./style/acc.css">

<h1>account view</h1>
<main class="container" style="display: grid; place-items: center;">
    <div class="accContainer">
        <div class="accImageContainer">
            <div class="accImage"></div>
        </div>
        <div class="accInfoContainer">
            <div class="accInfo">
                {{#if user}}
                <p> <samp>First Name:</samp> {{user.name}}</p>
                <p><samp>Last Name:</samp> {{user.last_name}}</p>
                <p><samp>Age:</samp> {{user.age}}</p>
                <p><samp>Address:</samp> {{user.address}}</p>
                <p><samp>Phone:</samp> {{user.phone}}</p>
                <p><samp>Email:</samp> {{user.email}}</p>
                <button class="btn btnEdit" type="button" data-bs-toggle="modal"
                    data-bs-target="#staticBackdrop">edit</button>

                {{else}}
                <h1>false</h1>
                {{/if}}
            </div>
            <!-- Modal -->
            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">Update your data</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form id="updateUserForm">
                                <div class="mb-3">
                                    <label  class="form-label">First Name</label>
                                    <input type="text" class="form-control" name="name" placeholder="{{user.name}}">
                                </div>
                                <div class="mb-3">
                                    <label for="exampleInputEmail1" class="form-label">Last Name</label>
                                    <input type="text" class="form-control" name="last_name" placeholder="{{user.last_name}}">
                                </div>
                                <div class="mb-3">
                                    <label for="exampleInputEmail1" class="form-label">Age</label>
                                    <input type="number" class="form-control" name="age" placeholder="{{user.age}}">
                                </div>
                                <div class="mb-3">
                                    <label for="exampleInputEmail1" class="form-label">Address</label>
                                    <input type="text" class="form-control" name="address" placeholder="{{user.addres}}">
                                </div>
                                <div class="mb-3 row">
                                    <label for="">current phone: {{user.phone}}</label>
                                    <div class="col-3">
                                        <span> Code +</span>
                                        <input type="text"class="form-control" placeholder="57" name="code"
                                        pattern="(3|([1-4][0-9][0-9][0-9])|([1-9][0-9][0-9])|([1-9][0-9])|[1-9])" title="min 1 max 3 digits">
                                    </div>
                                    <div class="col">
                                        <span>Movil Phone</span>
                                        <input type="text"class="form-control" name="tel" 
                                        pattern="[0-9]{10}" title="must to be - 10 digits>">
                                    </div>
                                </div>
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                                <button type="submit" class="btn btn-primary">update</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {{#if user}}
            <a href="/api/sessions/logout" class="btnLogout btn">logout <i
                    class="fa-solid fa-arrow-right-from-bracket"></i></a>
            {{else}}
            <a href="/login" class="btnLogout btn">login <i class="fa-solid fa-user"></i></a>
                <a href="/register" class="btnLogout btn">register <i
                        class="fa-solid fa-user-plus"></i></a>
                    {{/if}}
        </div>
    </div>

    {{#if user}}
        <div class="container" style="background-color: #DCD7C9; padding:5px;border-radius:10px;margin:10px 0px; max-width: 500px;">
            <h3> Purchases:</h3>
            <div class="accordion accordion-flush" id="accordionFlushExample">
                {{#if user.purchases}}
                    <div class="accordion-item">
                        {{#each user.purchases}}
                            <h2 class="accordion-header" id="flush-heading{{code}}">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#{{code}}" aria-expanded="false" aria-controls="flush-collapse{{code}}">
                                    <samp style="font-size: 0.7rem;">{{code}}</samp>
                                </button>
                            </h2>
                            <div id="{{code}}" class="accordion-collapse collapse" aria-labelledby="{{code}}"
                                data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    Order Code: <samp style="font-size: 0.7rem;">{{code}}</samp>
                                    <ul>
                                        {{#each products}}
                                        <li>
                                            <p style="padding-bottom: 0;">
                                                <code>Name: </code>{{product.name}} <br>
                                                <code>Price: </code>{{product.price}} <br>
                                                <code>Quantity: </code>{{qty}}<br>
                                            </p>
                                        </li>
                                        <hr>
                                        {{/each}}
                                    </ul>
                                    Total: <code>{{totalQty}}</code>
                                </div>
                            </div>
                        {{/each}}
                    </div>
                {{/if}}
            </div>
        </div>
    {{/if}}
</main>
<script src="./scripts/account.js"></script>