{{!-- style --}}
<link rel="stylesheet" href="./style/acc.css">

<h1>account view</h1>
<main class="container" style="display: grid; place-items: center;">
    <div class="accContainer">
        <div class="accImageContainer">
            <div class="accImage"></div>
        </div>
        <div class="accInfoContainer">
            <div class="accInfo">
                {{#if user}}
                <p> <samp>First Name:</samp> {{user.name}}</p>
                <p><samp>Last Name:</samp> {{user.last_name}}</p>
                <p><samp>Age:</samp> {{user.age}}</p>
                <p><samp>Address:</samp> {{user.address}}</p>
                <p><samp>Phone:</samp> {{user.phone}}</p>
                <p><samp>Email:</samp> {{user.email}}</p>
                <button class="btn btnEdit" type="button" data-bs-toggle="modal"
                    data-bs-target="#staticBackdrop">edit</button>
                
                {{else}}
                    <h1>false</h1>
                {{/if}}
            </div>
            <!-- Modal -->
            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">Update your data</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>Working on it</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save</button>
                        </div>
                    </div>
                </div>
            </div>
            {{#if user}}
                <a href="/api/sessions/logout" class="btnLogout btn">logout <i class="fa-solid fa-arrow-right-from-bracket"></i></a>
            {{else}}
                <a href="/login" class="btnLogout btn">login <i class="fa-solid fa-user"></i></i></button>
                <a href="/register" class="btnLogout btn">register <i class="fa-solid fa-user-plus"></i></i></i></button>
            {{/if}}
        </div>
        

    </div>
</main>
<script src="./scripts/account.js"></script>