
<div class="container">
    <div class="container" style="background-color: whitesmoke; border: 2px solid black;">
        <h1>Purchase Resume</h1>

        <h2>Order Code: {{purchase.code}}</h2>
        
        <h2>products:</h2>
        <ul>
            {{#each purchase.products}}
            <li>
                <div style="border: 2px solid black; padding:15px;">
                    <p><samp>Name: </samp>{{product.name}}</p>
                    <p><samp>Price: </samp>{{product.price}}</p>
                    <p><samp>Quantity: </samp>{{qty}}</p>
                </div>
                <hr>
            </li>
            {{/each}}
        </ul>
        <h2>Total: {{purchase.totalQty}}</h2>
        <h2>Order Code: {{purchase.code}}</h2>
    </div>
    <div class="container" style="background-color: lightblue; border: 2px solid black; padding:25px">
        <a href="/" type="button" class="btn btn-success">GoHome</a>
    </div>
</div>
