
<div class="container">
    <h1>Purchase Resume</h1>

    <h2>Order Code: {{purchase.code}}</h2>
    
    <h2>products:</h2>
    <li>
        {{#each purchase.products}}
        <ul>
            <div style="border: 2px solid black; padding:15px;">
                <p><samp>Name: </samp>{{product.name}}</p>
                <p><samp>Price: </samp>{{product.price}}</p>
                <p><samp>Quantity: </samp>{{qty}}</p>
            </div>
        </ul>
        {{/each}}
    </li>
    <h2>Total: {{purchase.totalQty}}</h2>
    <h2>Order Code: {{purchase.code}}</h2>
</div>